<h1>
  invoices!
</h1>


<p>
  invoice-form works!
</p>

<h2>Add Invoice</h2>
<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">productName</label>
    <input type="text"
            class="form-control"
            id="productName"
            name = "productName"
            required
            [(ngModel)] = "invoice.productName">
  </div>
  <div class="form-group">
    <label for="amount">amount</label>
    <input type="number" 
            class="form-control"
            id="amount"
            name = "amount"
            required
            [(ngModel)] = "invoice.amount">
  </div>
  

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>