<p>
  invoices !
</p>
<!--<div>
 <jce-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></jce-invoice-form>
</div>-->

<div>
 <h3>List Of invoices:</h3>
     <jce-spinner [visible] = "isLoading"></jce-spinner>
  <ul class="list-group invoices" >
        <li class="list-group-item" *ngFor = "let invoice of invoices" [class.active]="currentInvoice == invoice" (click)="select(invoice)">
              product Name:{{invoice.productName}} ,Amount:{{invoice.amount}}
          <!--   <jce-user [user] = user></jce-user> -->
       
        </li>
  </ul>
</div>
 <!--<div>
  
 <h3>Invoices Date:</h3>
<jce-spinner [visible] = "isLoading"></jce-spinner>
  <style>
table, th , td  {
  border: 4px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
  <table >
          <tr>
            <th style="width: 15%" >
               product Name
            </th>
            <th style="width:15%">
               Amount
            </th>   
                       
          </tr>

        <tr  *ngFor = "let invoice of invoices" >
          <td>{{invoice.productName}}</td>    
          <td>{{invoice.amount}}</td>
       
                        
        </tr>
 
  </table>
</div>-->