<p><!--ID: {{post.id}}, Title: {{post.title}} ,Body:{{post.body}}-->
<span *ngIf = "!isEdit" >ID: {{post.id}}, Title: {{post.title}} ,Body:{{post.body}} </span>
<span *ngIf = "isEdit" >ID: <input type="text" [(ngModel)] = "post.id"> Title: <input type="text" [(ngModel)] = "post.title">Body: <input type="text" [(ngModel)] = "post.body"></span>
<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>
</p>    