<div>
  <h3>Products Table:</h3>
  <style>
table, th , td  {
  border: 4px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
  <table >
          <tr>
            <th style="width: 15%" >
               Pid
            </th>
            <th style="width:15%">
               Pname
            </th>   
              <th style="width:15%">
               Cost
            </th>  
              <th style="width:15%">
               CategoryId
            </th>   
             <th style="width:15%">
               Delete
            </th>          
          </tr>

        <tr  *ngFor = "let product of newProducts" >
          <td>{{product.pid}}</td>    
          <td>{{product.pname}}</td>
          <td>{{product.cost}}</td>    
          <td>{{product.categoryId}}</td>  
           <td>  <jce-product [product] = product (deleteEvent) = "deleteProduct($event)"  (editEvent) = "editProduct($event)">></jce-product> </td>                         
        </tr>
 
  </table>
</div>
<div>
  <h3>Products Table:</h3>
  <style>
table, th , td  {
  border: 4px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}
</style>
  <table >
          <tr>
            <th style="width: 15%" >
               Pid
            </th>
            <th style="width:15%">
               Pname
            </th>   
              <th style="width:15%">
               Cost
            </th>  
              <th style="width:15%">
               CategoryId
            </th>   
             <th style="width:15%">
               CategoryName
            </th> 
             <th style="width:15%">
               Delete
            </th>          
          </tr>

        <tr  *ngFor = "let product of newProducts" >
          <td>{{product.pid}}</td>    
          <td>{{product.pname}}</td>
          <td>{{product.cost}}</td>    
          <td>{{product.categoryId}}</td>
          <td *ngFor = "let name of product.categoryName" >
            {{(name | async)?.name}} <!-- השם השני זה השם תכונה שנקראת בפיירבייס שרוצים להציג אותה-->
          </td>
           <td>  <jce-product [product] = product (deleteEvent) = "deleteProduct($event)"  (editEvent) = "editProduct($event)">></jce-product> </td>                         
        </tr>
        
 
  </table>
</div>
<div>

                                  
  </div>