<p>
<span *ngIf = "!isEdit" ></span>
<span *ngIf = "isEdit" >Pid: <input type="text" [(ngModel)] = "product.pid"> Pname: <input type="text" [(ngModel)] = "product.pname">
Cost <input type="text" [(ngModel)] = "product.cost">CategoryId <input type="text" [(ngModel)] = "product.categoryId">
</span>
<button (click) = "sendDelete()" >Delete</button><button (click) = "toggleEdit()" >{{editButtonText}}</button>
</p>
