<p>
 <!-- Id:{{user.id}},Name: {{user.name}}, Email {{user.email}}-->  


 <span *ngIf = "!isEdit" > Id:{{user.id}} ,Name: {{user.name}}, Email {{user.email}} </span>
 <span *ngIf = "isEdit" >Id: <input type="text" [(ngModel)] = "user.id"> Name: <input type="text" [(ngModel)] = "user.name"> Email: <input type="text" [(ngModel)] = "user.email"></span>  
 <button (click) = "sendDelete()" >Delete</button>  <button (click) = "toggleEdit()" >{{editButtonText}}</button>
 <button *ngIf = "isEdit" (click) = "cancelEdit()">Cancel</button> 
 

</p>